@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 800px) {

}

@media only screen and (max-width : 1024px) {

}

@media only screen and (max-width : 600px) {
  .navbar-index {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .login-link {
    margin-left: -84px;
  }
  .login-link > p{
    padding-top: 6px !important;
  }
  .header-logo {
      width: 35px;
      height: 38px;
      margin-right: 7px;
  }
  .nav-collapse {
    width: 100%;
    display: none;
  }
  .collapse-item {
    display: grid;
  }
  .collapse-item > a {
    background-color: #fff;
    color: #555
  }
  .navbar-toggler {
    display: block;
    position: absolute;
    right: -95px;
    color: #fff;
  }
}