.navbar-index {
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.1)!important;*/
    background-color: #fff!important;
    /*border-bottom: 1px solid #dee2e6;*/
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-index.scrolled {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1)!important;
    background-color: #fff!important;
    /*border-bottom: 1px solid #dee2e6*/
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.login-link {
    color: #4b4b4d !important;
}
.text-link {
    color: #4b4b4d !important;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.blogs {
    padding-top: 110px;
}

/*comments*/
.all-comments {
    color: #525252;
}
.all-comments > .row {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.person-img {
    /*border-radius: 50px;*/
}
.person-name {
    line-height: 10px;
}
.person-name > .name {
    padding-top: 10px;
}
.comment {
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    background-color: #fff;
    border-radius: 6px;
}
.blog-title > h3 {
    text-transform: uppercase;
}