.main-banner {
	background: url('../../img/background/rawpixel-550994-unsplash.jpg')center fixed;
    background-size: auto auto;
	background-size: auto auto;
	background-size: cover;
	margin-top: -50px;
}
.bg-gradient {
/*    background: rgba(32,34,38,0.7);
    background: -moz-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: -webkit-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: -o-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: -ms-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: linear-gradient(to bottom, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);*/

    background: #232526;
    background: -webkit-linear-gradient(to right, #414345bd, #232526bd);
    background: linear-gradient(to right, #414345bd, #232526bd);
    padding: 200px 0 100px;
    min-height: 80vh;
}
.bg-gradient-MidnightCity {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345bd, #232526bd);
    background: linear-gradient(to right, #414345bd, #232526bd);
}

/* BLOG BANNER*/
.blogs-banner {
    background: url('../../img/blog/background/0002.jpeg')center fixed;
    background-size: auto auto;
    background-size: auto auto;
    background-size: cover;
    margin-top: -50px;
}
.bg-overlay {
    background: #43cea2cc;
    background: -webkit-linear-gradient(to right, #185a9dd1, #43cea2a8);
    background: linear-gradient(to right, #185a9dd1, #43cea2a8);

    padding: 170px 0 100px;
    min-height: 60vh;
}
/* END BLOG BANNER*/


.bg-blog {
    background-color: #939bc954;
    width: 100%;
    height: 100%;
    position: absolute;
}
.carousel-item {
    height: 450px;
}
.carousel-blogs-most > img {
    height: max-content !important;
    width: -webkit-fill-available !important;
}
.carousel-blogs-most > .caption {
    height: 150px;
    top: 300px;
    padding: 20px;
    color: #fff;
}
.section-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_text {
    display: block;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 1.5em;
    margin: 0;
}
.header_subtext {
    color: #777;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    margin: 8px 0 7px 0;
}
.blogs {
    /*height: 200px;*/
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-blog-post {
    background-color: #fff;
    padding: 20px;
    /*height: 150px;*/
    margin-bottom: 20px;
}
.card-blog {
    background-color: #fff;
    padding: 20px;
    height: 400px;
    margin-bottom: 20px;   
}
.card-popular-post, .card-recently-post  {
    background-color: #fff;
}
.popular, .recently {
    margin-bottom: 20px;
}
.card-popular-post > .header, .card-recently-post > .header  {
    padding: 20px;
    border-bottom: 1px solid #ecedef;
    padding-bottom: 5px;
    padding-top: 12px;
}
.card-popular-post > .content, .card-recently-post > .content  {
    padding: 20px;
}
.post {
    border-bottom: 4px solid #d9bdfb;
    margin-bottom: 15px;
}
.postlink {
    color: #616161;
    text-decoration: none;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.postlink:hover {
    color: #616161;
    text-decoration: none;
}
.postlink:hover .post{
    background-color: #f9f9f9;
}
.btn-read {
    /*width: 100%;*/
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 2px !important;
    color: #cdb2f7;
}
.btn-read:hover {
    background-color: #7634b9;
    color: #fff;
}.btn-read:focus {
    background-color: #7634b9;
    color: #fff;
}
/*.blog_title > p {
    line-height: 1.3rem;
    margin-bottom: 3px;
}
.blog_title > p > strong {
    text-transform: uppercase;
}
.category {

}
.blog-footer {
    bottom: 0px;
    position: absolute;
    width: 91%;
}
.foot {
    height: 35px;
}
.blog-footer > .row > div > label {
    padding-top: 6px;
}
.blog-image {
    border: 1px solid #f7f5f5;
    padding: 3px;
}*/

/*blog list*/
.blog-item {
    margin-bottom: 30px;
}

.blog-image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}
.blog-image img {
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}
.blog-image:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.loading-item {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.blog-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.blog-title {
    padding: 10px;
}
.blog-title h5 {
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}