.pagination {
	padding-top: 20px;
    margin-bottom: -10px;
}
.message-action {
	display: none;
	background-color: #f2edf3;
    position: absolute;
    margin-top: -39px;
    width: 17%;
}
.message-action > button {
	box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
}
.each-message:hover {
	cursor: pointer;
}
.each-message:hover .message-action{
	display: block;
}
.text-name {
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-message {
	white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-checkbox > label::after {
    cursor: pointer;
}
.selected {
	background-color: #f2edf3;
	box-shadow: 0px 3px 8.3px 0.7px rgba(146, 142, 150, 0.35);
}
th {
	font-weight: 600!important;
}
.unread {
    background-color: #f2edf3;
}
.text-default {
	color: #9c9fa6;
}
.nav-tabs-message > li{
    margin-right: 5px;
    margin-bottom: 5px;
}
.nav-tabs-message {
    margin-bottom: 20px !important;
}
.subject-budge {
    white-space: nowrap;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.emails {
	white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sender_message {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
}
/*.sender_date_time {
    font-size: 14px;
    margin-bottom: 0;
}*/
.message-info {
    font-size: 14px;
    font-size: 14px;
    margin-top: -20px !important;
    margin-bottom: 3px !important;
}