.page-title .page-title-icon i {
    font-size: 1.5rem !important;
    line-height: 36px;
}

/*.post {
    border-bottom: 4px solid #d9bdfb;
    margin-bottom: 15px;
}
.postlink {
    color: #616161;
    text-decoration: none;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.postlink:hover {
    color: #616161;
    text-decoration: none;
}
.postlink:hover .post{
    background-color: #f9f9f9;
}
.btn-read {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    background-color: #ffffff;
    border-radius: 2px !important;
    color: #cdb2f7;
}
.btn-read:hover {
    background-color: #7634b9;
    color: #fff;
}.btn-read:focus {
    background-color: #cdb2f7;
    color: #fff;
}*/
.btn-create-blog {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    background-color: #b66dff;
    /*border: 2px solid #cdb2f7;*/
    border-radius: 2px !important;
    color: #fff;
}
.btn-create-blog:hover {
    background-color: #7634b9;
    color: #fff;
}.btn-create-blog:focus {
    background-color: #b66dff;
    color: #fff;
}
/*.blog_title > p {
    line-height: 1.3rem;
    margin-bottom: 3px;
}
.blog_title > p > strong {
    text-transform: uppercase;
    font-size: 20px;
}
.category {

}
.blog-footer {
    bottom: 0px;
    position: absolute;
    width: 91%;
}
.foot {
    height: 35px;
}
.blog-footer > .row > div > label {
    padding-top: 6px;
}
.blog-image {
    border: 1px solid #f7f5f5;
    padding: 3px;
}
.blog_description {
    text-align: justify !important;
    text-justify: inter-word;
}
.overlay-update {
    padding-right: 50px !important;
	display: none;
	position: absolute;
    width: 100%;
    padding: 20px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.blog-post-card:hover .overlay-update {
    display: block;
}
.overlay-update > a {
	color: #fff;
}
.overlay-update > a:hover {
	color: #fff;
}*/
.btn-action {
	font-size: 25px;
	padding: 10px;
	padding-right: 12px;
	padding-left: 12px;
	background-color: #b66dff;
	border-radius: 50px;
	float: right;
	margin-left: 5px;
    box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
	-moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.image-valid, .content-valid, .title-valid {
    display: none;
}
/********** UPLOAD DRAG IMAGE ***********/

#img_blog{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.image_area {
    display: none;
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}
.image_area a {
    opacity: 1;
    top: 0; /* added */
    z-index: 500;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}
.image_area a i {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.drop-upload-area {
    border: 3px dashed#c5c3c3;
    text-align: center;
    color: #c5c3c3;
    cursor: pointer;
    width: 100%;
    height: 95%;
}
.drop-upload-area p{
    display: grid;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.drop-upload-area p i{
    font-size: 50px;
    margin-bottom: -20px;
    margin-top: -25px;
}
.uploadedImage{
  cursor: pointer;
}
.blog_description {
    max-height: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.blog-item {
    margin-bottom: 30px;
}

.blog-image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}
.blog-image img {
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
    left: 0;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}
.blog-image .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.blog-image .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.blog-image .blog_item_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.blog-image .buttons a {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0 1px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
}
.blog-image:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.blog_item_loader, .hide-buttons {
    display: none;
}
.loading-item {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.blog-image:hover .ovrly {
    opacity: 1;
}
.blog-image:hover .buttons a {
    display: block;
}
.blog-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.blog-title {
    padding: 10px;
}
.blog-title h5 {
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
/******************* BLOG DETAILS *******************/
.blog_details .image_blog {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog_details .image_blog img {
    border-radius: 3px;
}
.blog_details .details {
    text-align: justify;
}
#blog_details {
    display: none;
}