/*.main-banner {
	background: url('../../img/background/annie-spratt-unsplash.png')center fixed;
  background-size: auto auto;
	background-size: auto auto;
	background-size: cover;
	margin-top: -50px;
}
.bg-gradient {
    background: rgba(32,34,38,0.7);
    background: -moz-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: -webkit-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: -o-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: -ms-linear-gradient(top, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    background: linear-gradient(to bottom, rgba(32,34,38,0.7) 0%, rgba(32,34,38,0.98) 74%, rgba(32,34,38,1) 100%);
    padding: 200px 0 100px;
    min-height: 110vh;
}*/
/*main banner*/

/*.homebanner {
    background-color: #fff;
    height: 700px;
    padding-top: 150px;
}
*/
.wsize1 {
  max-width: 700px;
}
.m-lr-auto {
  margin-left: auto;  
  margin-right: auto;
}
.l1-txt1 {
  font-size: 36px;
  color: #fff;
  line-height: 1.333333;
}
.l1-txt2 {
  font-size: 36px;
  color: #fff;
  line-height: 1.333333;
}
.s1-txt1 {
  font-size: 12px;
  color: #e5e5e5;
  line-height: 1.333333;
}
.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content {
  width: 100%;
  min-height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.overlay1 {
  position: relative;
  z-index: 1;
}
.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #7579ff;
  background: -webkit-linear-gradient(bottom, #c758f78c, #7579fff0);
  background: -o-linear-gradient(bottom, #c758f78c, #7579fff0);
  background: -moz-linear-gradient(bottom, #c758f78c, #7579fff0);
  background: linear-gradient(bottom, #c758f78c, #7579fff0);
  opacity: 0.9;
}

#btn-back-to-top {
    opacity: 0;
    right: 25px;
    bottom: 20px;
    position: fixed;
    z-index: 28000000;
    background-color: #373737;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1)!important;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#btn-back-to-top:hover {
    background-color: #7634b9;
}
#btn-back-to-top.show {
    opacity: 1;
}
#btn-back-to-top > i {
    color: #fff;
    font-size: 30px;
    margin-top: 14px;
}
.bg-gradient-MidnightCity {
    width: 100%;
    height: 100%;
    position: absolute;
  
    /*background-color: #939bc954;*/
    background-color: #000000b8;
/*    background: #232526;
    background: -webkit-linear-gradient(to right, #414345bd, #232526bd);
    background: linear-gradient(to right, #414345bd, #232526bd);*/

}
/*main banner end*/

/* about section */
#info-section {
  background: url('../../img/background/annie-spratt-unsplash.png')center fixed;
  background-size: auto auto;
  background-size: auto auto;
  background-size: cover;
  margin-top: -65px;
}
.bg-overlay {
  background: #fff;
 /* background: -o-linear-gradient(to right, #185a9deb, #43cea2ed);
  background: -moz-linear-gradient(to right, #185a9deb, #43cea2ed);
  background: -webkit-linear-gradient(to right, #185a9deb, #43cea2ed);
  background: linear-gradient(to right, #185a9deb, #43cea2ed);*/

  padding: 170px 0 100px;
  min-height: 100vh;
}
.sectionP60 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.sectionP60 > .container{
	margin-right: 60px;
}
.heading {
	position: relative;
	margin-bottom: 25px;
}
.heading > span {
	color: #F86A3A;
	font-size: 100px;
	/*font-family: robo-bold;*/
	opacity: .08;
	position: absolute;
	z-index: 0;
	top: 10px;
	left: -33px;
	line-height: 17pt;
	font-weight: 600;
}
.wwa {
  color: #6f6f6f;
}
.heading > h1 {
	font-weight: 600;
  /*color: #fff;*/
}
.content > p {
	color: #cecece;
	font-size: 16px;
	line-height: 20pt;
}
.content > .highlight-text {
	color: #F86A3A;
}

/* Pricing */
/* @import url("https://fonts.googleapis.com/css?family=Montserrat");

.pricing-table .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center; 
}

.pricing-table .block-heading h2 {
    color: #3b99e0;
}

.pricing-table .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7; 
}

.pricing-table .heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.pricing-table .item {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    border-top: 2px solid #5ea4f3;
    padding: 30px;
    overflow: hidden;
    position: relative; 
}

.pricing-table .col-md-5:not(:last-child) .item {
    margin-bottom: 30px; 
}

.pricing-table .item button {
    font-weight: 600; 
}

.pricing-table .ribbon {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
    background: #4dbe3b;
    transform: rotate(45deg);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 7px; 
}

.pricing-table .item p {
    text-align: center;
    margin-top: 20px;
    opacity: 0.7; 
}

.pricing-table .features .feature {
    font-weight: 600; }

.pricing-table .features h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px; 
}

.pricing-table .price h4 {
    margin: 15px 0;
    font-size: 45px;
    text-align: center;
    color: #2288f9; 
}

.pricing-table .buy-now button {
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding: 9px 0; 
} */


/*service Section*/
.services-section {
  padding-top: 80px;
  padding-bottom: 80px;
  /*background-color: #f4f4f5;*/
  background-color: #fff;
}
.lmn-card-container {
  display: flex;
  flex-wrap: wrap;
}
.lmn-card {
  /*border: 1px solid #eeeeef;*/
  background-color: #fff;
  padding: 30px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.lmn-card:hover{
  /*border: 2px solid #929bc7;*/
}
.lmn-card-body {
  color: #7b7b7b;
  font-weight: 100;
  margin-top: 15px;
}
.lmn-card-body > h3 {
  font-weight: 550;
  text-transform: uppercase;
  font-family: "Montserrat",sans-serif;
  color: #464646;
  font-size: 15px;
}
.lmn-card > .lmn-card-header > .circle-icon {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;

  background: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  /*padding: 2px;*/
  border: 1px solid #c292e6;
  color: #c292e6;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.lmn-card:hover .circle-icon{
  color: #fff;
  background-color: #7634b9;
  box-shadow: 0 0 0 3px #FFFFFF, 0 0 0 6px #7634b9;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.btn-SeeMore {
  border: 1px solid #929bc7;
  color: #929bc7;
}
.btn-SeeMore:hover {
  background-color: #929bc7;
  color: #fff;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  top: 15rem;
  z-index: 10;
  color: #fff;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/*contact section*/
/*.footer-logo {
	width: 60px;
}
.foot-title {
	font-weight: 600;
}
.footer-bg {
	background: url('../../img/background/neonbrand-646143-unsplash.jpg') fixed bottom;
    background-size: auto auto;
	background-size: cover;
}
.bg-gradient-down {
	background: rgba(32,34,38,1);
	background: -moz-linear-gradient(top, rgba(32,34,38,1) 0%, rgba(32,34,38,0.95) 30%, rgba(32,34,38,0.6) 80%);
	background: -webkit-linear-gradient(top, rgba(32,34,38,1) 0%, rgba(32,34,38,0.95) 30%, rgba(32,34,38,0.6) 80%);
	background: -o-linear-gradient(top, rgba(32,34,38,1) 0%, rgba(32,34,38,0.95) 30%, rgba(32,34,38,0.6) 80%);
	background: -ms-linear-gradient(top, rgba(32,34,38,1) 0%, rgba(32,34,38,0.95) 30%, rgba(32,34,38,0.6) 80%);
	background: linear-gradient(to bottom, rgba(32,34,38,1) 0%, rgba(32,34,38,0.95) 30%, rgba(32,34,38,0.6) 80%);
}
.btn-send-message {
	color: #949bc9;
    background-color: transparent;
    background-image: none;
    border-color: #939bc9;
}
.btn-send-message:hover {
    color: #fefefe;
	border-color: #87a2bd;
}
.btn-send-message:hover {
    color: #fefefe;
	border-color: #939bc9;
	background-color: #939bc9;
}
.sectionP60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.sectionP100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.sectionP40 {
    padding-top: 40px;
    margin-bottom: -40px;
    background-color: #1c1c1f;
    padding-bottom: 10px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}*/

/******** Contact us ********/

#contact-section {
    padding: 100px 0;
    background-color: #f4f4f5;
}

.btn-send-message {
  color: #949bc9;
    background-color: transparent;
    background-image: none;
    border-color: #939bc9;
}

.btn-send-message:hover {
    color: #8490ff;
    border-color: #8490ff;
}

.btn-send-message:hover {
    color: #fff;
    border-color: #8490ff;
    background-color: #8490ff;
}

.flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#contact-section .address-wrap .single-contact-address {
    margin-bottom: 8px;
}

#contact-section .address-wrap .single-contact-address .mdi {
    font-size: 30px;
    font-weight: 500;
    color: #c292e6;
    margin-right: 30px;
}

#contact-section #frm-add-message input, #contact-section #frm-add-message textarea, #contact-section #frm-add-message select {
    border-radius: 0;
    font-size: 13px !important;
}

#contact-section #frm-add-message input {
    padding: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

#contact-section #frm-add-message textarea {
    height: 262px;
    margin-top: 0px;
    padding: 15px;
}

#contact-section .secondary-text {
    margin-bottom: 40px;
}


.sectionP40 {
    padding-top: 40px;
    margin-bottom: -40px;
    background-color: #1c1c1f;
    padding-bottom: 10px;
}


/* team section*/
.team-section {
	padding-top: 50px;
	padding-bottom: 50px;
  background-color: #020312;
}
/*
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}*/

/*section {
    padding: 60px 0;
}*/

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}
.card {
  border: none !important;
}
/*.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}*/

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.frontside .card {
  background-color: #08091d !important;
  color: white !important;
      box-shadow: 2px 2px 4px #101123;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #c292e6 !important;
}

.frontside .card .card-body img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.social-media {
    font-size: 25px !important;
    letter-spacing: 5px !important;
    color: #4d9de4;
}

/* Map Section */
.mbr-map {
  height: 25rem;
  position: relative; }
  .mbr-map iframe {
    height: 100%;
    width: 100%; }
  .mbr-map [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
  .mbr-map[data-state] {
    background: #e9e5dc; }
  .mbr-map[data-state="loading"] [data-state-details] {
    display: none; }
  .mbr-map[data-state="loading"]::after {
    content: "";
    -webkit-animation: btnCircleLoading .6s infinite linear;
    animation: btnCircleLoading .6s infinite linear;
    border-radius: 50%;
    border: 6px rgba(255, 255, 255, 0.35) solid;
    border-top-color: #fff;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px; }